---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import Mail from "../components/icons/Mail.astro";
import SectionContainer from "../components/SectionContainer.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import PersonIcon from "../components/icons/Person.astro";
---

<Layout
  title="Portafolio de Jerson | Desarrollador y Programador Web"
  description="Contrata a Jerson para crear tu apicacion web o movil"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-20">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="https://i.pinimg.com/474x/44/27/b6/4427b659d7290eb30682215fbeff358c.jpg"
        alt="logo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Jerson 游 <a
          href="https://www.linkedin.com/in/gerson-urrea-pereira-110925259/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span
          class="text-transparent font-semibold bg-clip-text bg-gradient-to-r from-purple-500 to-orange-400"
          >Desarrollador Web Full Stack.</span
        > De Cali, Colombia apasionado por la creaci칩n de soluciones 칰nicas y
        efectivas.
      </h2>
      <ul>
        <nav class="flex gap-x-2 mt-8 flex-wrap">
          <SocialPill
            href="https://www.linkedin.com/in/gerson-urrea-pereira-110925259/"
          >
            <LinkedInIcon class="w-4 h-4 md:w-6 md:h-6" />
             Linkedin
          </SocialPill>
          <SocialPill href="https://github.com/JersonP2107">
            <GitHubIcon class="w-4 h-4 md:w-6 md:h-6" />
             GitHub
          </SocialPill>
          <SocialPill href="mailto:jersondev21@gmail.com">
            <Mail class="w-4 h-4 md:w-6 md:h-6" />
             jersondev21@gmail.com
          </SocialPill>
        </nav>
      </ul>
    </SectionContainer>
    <SectionContainer class="py-40 pb-30" id="sobre-mi">
      <h2 class="text-2xl font-semibold md-6 flex gap-x-3 pb-3 items center">
        <PersonIcon class="w-4 h-4 md:w-6 md:h-6" />
         Sobre Mi
      </h2>
      <p class="text-lg lg:text-xl text-pretty max-w-[700px">
        Como apasionado <span
          class="text-transparent font-semibold bg-clip-text bg-gradient-to-r from-purple-500 to-orange-400"
          >Desarrollador Web</span
        >, me encanta la compleja danza entre la l칩gica y la creatividad.
        Actualmente inmerso en el din치mico mundo de <span
          class="text-transparent font-semibold bg-clip-text bg-gradient-to-r from-purple-500 to-orange-400"
          >Dise침o UX/UI.</span
        >
        <br /><br />
         Con un fervor por <span
          class="text-transparent font-semibold bg-clip-text bg-gradient-to-r from-purple-500 to-orange-400"
          >Crear Soluciones Elegantes</span
        >, navego por el paisaje siempre cambiante del desarrollo de software.
        Mi viaje implica traducir conceptos en c칩digo, <span
          class="text-transparent font-semibold bg-clip-text bg-gradient-to-r from-purple-500 to-orange-400"
          >Crear Experiencias de Usuario sin Fisuras
        </span> y ampliar constantemente los l칤mites de lo posible.
      </p>
    </SectionContainer>
  </main>
  <SectionContainer id="proyectos">
    <h2 class="text-2xl font-semibold md-6 flex gap-x-3 pb-3 items center">
      <CodeIcon class="w-4 h-4 md:w-6 md:h-6" />
       Proyectos
    </h2>
    <Projects />
  </SectionContainer>
</Layout>
