<Container direction={["column", "row", "row"]}>
  <Container left>
    <Button prefix={(<ArrowRight />)}>Label</Button>
  </Container>

  <Container left>
    <Button suffix={(<ArrowRight />)}>Label</Button>
  </Container>

  <Container left>
    <Button prefix={(<ArrowRight />)} suffix={(<ArrowRight />)}>Label</Button>
  </Container>
</Container>
